includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#\$wishable of static method Dive\\Wishlist\\Wish::make\(\) expects Dive\\Wishlist\\Contracts\\Wishable, Illuminate\\Database\\Eloquent\\Model\|null given.#'
